# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=dtnsxrc2c
CLOUDINARY_API_KEY=578824635719446
CLOUDINARY_API_SECRET=jy7ouFmY6EeEqN6OX_B2YiduhxI
VITE_CLOUDINARY_CLOUD_NAME=dtnsxrc2c

# SMTP Credentials (Settings for Production/Vercel)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=support@shelterbee.com
SMTP_PASS=lYZ3f]Z&0Hf
FROM_EMAIL=support@shelterbee.com

# Firebase Admin SDK (Single-line JSON string)
FIREBASE_SERVICE_ACCOUNT_JSON=
